html,
body,
#root {
  height: 100%;
}
.container {
  min-height: 100%;
  overflow: hidden;
}
.bottom-bar {
  padding: 10px 0;
}
.main-chat {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.main-chat .row.header {
  flex: 0 1 auto;
}
.main-chat .row.content {
  flex: 1 1 auto;
}
.main-chat .row.footer {
  flex: 0 1 4em;
  padding: 0.8em 0;
}
.messages {
  width: 100%;
}
.messages .ownMessage {
  color: #d90000;
  text-align: right;
}
.messages .otherGuysMessage {
  color: #6a0029;
}
